## FIREBASE
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

## Google
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
;EXPO_PUBLIC_IOS_CLIENT_ID=

EXPO_PUBLIC_FACEBOOK_APP_ID_HERE=
EXPO_PUBLIC_FACEBOOK_CLIENT_TOKEN_HERE=
EXPO_PUBLIC_FACEBOOK_APP_SECRET=